body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;  
  gap: 40px;
  overflow-y: auto; 
}

#left{
  background-image: url(/static/images/main_image.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 70%;
  position: relative;
}

#left_txt{
  color: white;
  position: absolute;
  top: 30%;
  left: 25%;
}

#form_container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input {
  width: 23vw;
  height: 5vh;
  font-size: 1rem;
  border-style: solid;
  border-color:lightgray;
  border-width: 1px;
}

input:hover {
  border-color: grey;
}

button {
  width: 23vw;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  color: white;
  transition: 1s ;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  text-decoration: none;
  color: rgb(39, 69, 167);
  transition: 1s;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.warning {
  border-style: solid;
  border-radius: 10px;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.126);
  padding: 10px;
  border-width: 1px;
}