<!DOCTYPE html>
<html>
  <head>
    <title>Bike Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' )}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="{{ url_for('static', filename='javascript/index.js' )}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>

    <div id="header">
      <h1 id="page_title">Dublin Bike Share</h1>
      <div id="middle">
        <p id="temp"></p>
        <img id="icon" alt="Weather Icon">
        <p id="weather_desc"></p>
      </div>
      <button id="station_btn">View Stations</button>
      <button id="weather_btn">View Weather</button>
    </div>

    <div id="map_container">
      
      <div id="map"></div>
      
      <div id="more_info_bikes">
        <div id="summary"></div>
        <div id="scroll"><div>
          <h4 id="chart_title">Average Bike Availability over the last 48Hrs</h4>
          <div id="bike_chart1"></div>
        </div>
        <div>
          <h4 id="chart_title">Average Bike Stand Availability over the last 48Hrs</h4>
          <div id="bike_chart2"></div>
        </div>
        </div>
      </div>

      <div id="more_info_weather">
        <div id="weather_main">
          <p id="show_place"></p>
          <p id="show_time"></p>
          <p id="show_temp"></p>
          <p id="show_desc"></p>
        </div>
        <div id="extra_weather_info">
          <div class="extra">Weather Description <br> <span id="weather_d"></span></div>
          <div class="extra">Feels Like <br> <span id="feels_like"></span></div>
          <div class="extra">Humidity <br> <span id="humidity"></span></div>
          <div class="extra">Pressure <br> <span id="pressure"></span></div>
          <div class="extra">Wind Direction <br> <span id="wind_deg"></span></div>
          <div class="extra">Wind Speed <br> <span id="wind_speed"></span></div>
        </div>
      </div>

      <div id="station_list"></div>
    </div>

    


    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-0piAbx0AlafzuLIPZTfDT00ETq5-N18&v=weekly"
    async
    defer
    loading="lazy">
    </script>
  
    


  </body>
  
</html>