<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css' )}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    
    <div id="left">
      <h1 id="left_txt">Dublin Bike Share</h1>
    </div>
  
    <div id="right">
      <h1>Login</h1>

      {% if wrong_cred%}
      <p class="warning">&#10071; {{wrong_cred}}</p>
      {% endif %}

      {% if wrong_pw%}
      <p class="warning">&#10071; {{wrong_pw}}</p>
      {% endif %}
      <div>
        <form action="/login" method="POST">
          <div class="form_input"><label for="user">Username</label><input id="user" type="text" name="username" value="{{ username }}" placeholder="Your Username" required></div>
          <div class="form_input"><label for="password">Password</label><input id="password" type="password" name="password" placeholder="Your Password" required></div>
          <button type="submit">Login</button>
        </form>
      </div>
      
      <div id="redirect">
        <p>Don't have an account? <a href="{{ url_for('signup')}}">Sign Up</a></p>
      </div>
    </div>
    
    <script>
      window.FLASK_DATA = {
        wrong_pw: "{{ wrong_pw }}",
        wrong_cred: "{{ wrong_cred }}"
      };
    </script>

    <script type="module" src="{{ url_for('static', filename='javascript/login.js')}}"></script>

  </body>
</html>