<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css' )}}">
    <script type="module" src="{{ url_for('static', filename='javascript/form.js' )}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>

  <div id="page_container">
     <div id="left">
      <img id="left_img" src="static/images/dublin_bikes3.jpeg">
    </div>
    <div id="divider"></div>
    <div id="right">
      <img id="logo" src="static/images/logo.png" alt="logo of bike">
    <h1>Sign up for Dublin Bike Share</h1>

    {% if try_again %}
    <p class="warning">&#10071; {{ try_again }}</p>
    {% endif %}

    <div id="form_container">
      <form action="/signup" method="POST">
        <div class="form_input"><label>Username</label><input type="text" name="username" placeholder="Your username" required></div>
        <div class="form_input"><label>Password</label><input type="password" name="password" placeholder="Your password" required></div>
        <button type="submit">Next</button>
      </form>
    </div>
    <div id="redirect">
      <p>Already have an account?</p>
      <a href="{{ url_for('login')}}">Login</a>
    </div>
    </div>
  </div>
  </body>


</html>