<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css' )}}">
    <script type="module" src="{{ url_for('static', filename='javascript/forms.js' )}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="left">
      <h1 id="left_txt">Dublin Bike Share</h1>
    </div>

    <div id="right">
      
      <h1>Sign up</h1>

      {% if user_taken %}
      <p class="warning">&#10071; {{ user_taken }}</p>
      {% endif %}

      {% if pw_short %}
      <p class="warning">&#10071; {{ pw_short }}</p>
      {% endif %}

      <p class="warning" style="display: none;"></p>

      <div id="form_container">
        <form action="/" method="POST">
          <div class="form_input"><label for="user">Username</label><input type="text" id="user" name="username" placeholder="Your Username" required></div>
          <div class="form_input"><label for="password">Password</label><input type="password" id="password" name="password" placeholder="Your Password" required></div>
          <button type="submit">Next</button>
        </form>
      </div>
      <div id="redirect">
        <p>Already have an account? <a href="{{ url_for('login')}}">Login</a></p>
      </div>
    </div>

  </body>
</html>